*{
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
a {
  color: #000;
}
body{
  font-family: 'Lato', sans-serif; 
  color: black;
  background-color: #efeef1;

}
.main-menu {
  display: flex;
  border: 2px solid #4f4f4f;
  background-color: transparent;
  margin: 0;  
}
.main-menu:hover {
  background-color: #4f4f4f;
  cursor: pointer;
}


.filter-buttons {
  z-index: 10;
  margin-top: -28px;
}
.dropdown{
  border-radius: 8px;
  display: flex;
  float: right;
}
/* nav{
  height: 0px;
  width: 0px;
  background: none;  
} */
nav ul{
  border-radius: 8px;
  float: right;
  margin-right: 30px;
}
nav ul li{
  border-radius: 8px;
  display: inline-block;
}
nav ul li div{
  border-radius: 10px;
  color: white;
  display: block;
  padding: 0 15px;
  line-height: 50px;
  font-size: 15px;
  background-color:rgba(0, 0, 0, 0.8);
  transition: .5s;
  cursor: pointer;
}
nav ul li div:hover,
nav ul li div.active{
  background-color:rgba(255, 255, 255, 0.8);
  color: black;
}
nav ul ul{
  border-radius: 8px;
  position: absolute;
  top: 85px;
  border-top: 3px solid white;
  opacity: 0;
  visibility: hidden;
}
nav ul li:hover > ul{
  border-radius: 8px;
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: .3s linear;
}
nav ul ul li{
  border-radius: 8px;
  width: 150px;
  display: list-item;
  position: relative;
  border-top: none;
  box-shadow: 0px 8px 15px rgba(0,0,0,0.1);
}
nav ul ul li div{
  border-radius: 8px;
  line-height: 50px;
}
nav ul ul ul{
  border-radius: 8px;
  border-top: none;
}
nav ul ul ul li{
  border-radius: 8px;
  position: relative;
  top: -70px;
  left: 150px;
}
nav ul ul li a i{
  border-radius: 8px;
  margin-left: 45px;
}

.icon {
  display: flex;
  width: auto;
  margin: 0;
  color: black;
}
.icon:hover {
  color: white;
}